body {
	 background-image: url(../img/TTbackground.jpg); 
	 background-attachment: fixed;
	 background-repeat: repeat-y; 
	 background-size: 100%
}

p {
	font-size: 18px;
}

.page-title {
	margin-bottom: 10px;
	padding: 15px;
	background-color: #f49842;
}

.page-title h1 {
	margin: 0;
	font-size: 24px;
}

@media (max-width: 767px) {
    .no-gutter-xs,
    .no-gutter-xs > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.page-title {
		margin-left: -25px;
		border-radius: 15px;
	}
	.page-title h1 {
		font-size: 36px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

.main-content {
	background-color: rgba(255, 255, 255, .85);
}

.sponsors {
	padding: 5px;
	background-color: #fff;
}

.sponsors > li {
	padding-top: 15px;
}